@import "sass/normalize.css";

html {
  font-size: 10px;
  font-family: sans-serif;
}


textarea {
  width: 98rem;
  height: 200px;
  font-size: 2rem;
  padding: 1rem;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid deeppink;
  background-color: antiquewhite;
  width: 98rem;
}

.btn {
  width: 5.2rem;
  height: 5rem;
  border-radius: 4px;
  background-color: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s;
  font-size: 1.6rem;
  position: relative;

  &_wide {
    min-width: 11rem;
    flex-grow: 1;
  }

  &_extrawide {
    min-width: 15rem;
    flex-grow: 2;
  }

  &_pushed {
    background-color: complement(hotpink);
    border-radius: 15px;
  }
}

.add-name {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 5%;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

