@import "sass/normalize.css";

html {
  font-size: 10px;
}


textarea {
  width: 95rem;
  height: 200px;
  font-size: 2rem;
  padding: 1rem;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid deeppink;
  background-color: antiquewhite;
  width: 95rem;
}

.btn {
  width: 5rem;
  height: 5rem;
  border: 1px solid pink;
  border-radius: 2px;
  background-color: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s;
  font-size: 1.6rem;

  &_wide {
    min-width: 8rem;
    flex-grow: 1;
  }

  &_extrawide {
    min-width: 10rem;
    flex-grow: 2;
  }

  &_pushed {
    background-color: aquamarine;
  }
}

